.DS_Store
**/.DS_Store
**/target/*
.settings
.apt_generated
.classpath
.factorypath
.project
**/*.tgz

# application.yaml can't be applied by Tekton right now.
k8s/application.yaml

# Allow
# !target/*.war
# !target/*.ear
